# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.gitignore
.idea/workspace.xml
venv/Include/
venv/Lib/site-packages/IPython/
venv/Lib/site-packages/Jinja2-2.10.dist-info/
venv/Lib/site-packages/MarkupSafe-1.0-py3.7.egg-info/
venv/Lib/site-packages/Pygments-2.2.0.dist-info/
venv/Lib/site-packages/Send2Trash-1.5.0.dist-info/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/backcall-0.1.0-py3.7.egg-info/
venv/Lib/site-packages/backcall/
venv/Lib/site-packages/bleach-2.1.3.dist-info/
venv/Lib/site-packages/bleach/
venv/Lib/site-packages/certifi/__pycache__/
venv/Lib/site-packages/chardet/__pycache__/
venv/Lib/site-packages/chardet/cli/__pycache__/
venv/Lib/site-packages/colorama-0.3.9.dist-info/
venv/Lib/site-packages/colorama/
venv/Lib/site-packages/dateutil/__pycache__/
venv/Lib/site-packages/dateutil/parser/__pycache__/
venv/Lib/site-packages/dateutil/tz/__pycache__/
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/
venv/Lib/site-packages/decorator-4.3.0.dist-info/
venv/Lib/site-packages/decorator.py
venv/Lib/site-packages/entrypoints-0.2.3.dist-info/
venv/Lib/site-packages/entrypoints.py
venv/Lib/site-packages/html5lib-1.0.1.dist-info/
venv/Lib/site-packages/html5lib/
venv/Lib/site-packages/idna/__pycache__/
venv/Lib/site-packages/ipykernel-4.8.2.dist-info/
venv/Lib/site-packages/ipykernel/
venv/Lib/site-packages/ipykernel_launcher.py
venv/Lib/site-packages/ipython-6.5.0.dist-info/
venv/Lib/site-packages/ipython_genutils-0.2.0.dist-info/
venv/Lib/site-packages/ipython_genutils/
venv/Lib/site-packages/ipywidgets-7.4.0.dist-info/
venv/Lib/site-packages/ipywidgets/
venv/Lib/site-packages/jedi-0.12.1.dist-info/
venv/Lib/site-packages/jedi/
venv/Lib/site-packages/jinja2/
venv/Lib/site-packages/jsonschema-2.6.0.dist-info/
venv/Lib/site-packages/jsonschema/
venv/Lib/site-packages/jupyter-1.0.0.dist-info/
venv/Lib/site-packages/jupyter.py
venv/Lib/site-packages/jupyter_client-5.2.3.dist-info/
venv/Lib/site-packages/jupyter_client/
venv/Lib/site-packages/jupyter_console-5.2.0.dist-info/
venv/Lib/site-packages/jupyter_console/
venv/Lib/site-packages/jupyter_core-4.4.0.dist-info/
venv/Lib/site-packages/jupyter_core/
venv/Lib/site-packages/langdetect/__pycache__/
venv/Lib/site-packages/langdetect/utils/__pycache__/
venv/Lib/site-packages/markupsafe/
venv/Lib/site-packages/mistune-0.8.3.dist-info/
venv/Lib/site-packages/mistune.py
venv/Lib/site-packages/nbconvert-5.3.1.dist-info/
venv/Lib/site-packages/nbconvert/
venv/Lib/site-packages/nbformat-4.4.0.dist-info/
venv/Lib/site-packages/nbformat/
venv/Lib/site-packages/nltk/__pycache__/
venv/Lib/site-packages/nltk/ccg/__pycache__/
venv/Lib/site-packages/nltk/chunk/__pycache__/
venv/Lib/site-packages/nltk/classify/__pycache__/
venv/Lib/site-packages/nltk/cluster/__pycache__/
venv/Lib/site-packages/nltk/corpus/__pycache__/
venv/Lib/site-packages/nltk/corpus/reader/__pycache__/
venv/Lib/site-packages/nltk/draw/__pycache__/
venv/Lib/site-packages/nltk/inference/__pycache__/
venv/Lib/site-packages/nltk/metrics/__pycache__/
venv/Lib/site-packages/nltk/misc/__pycache__/
venv/Lib/site-packages/nltk/parse/__pycache__/
venv/Lib/site-packages/nltk/sem/__pycache__/
venv/Lib/site-packages/nltk/stem/__p
ycache__/
venv/Lib/site-packages/nltk/tag/__pycache__/
venv/Lib/site-packages/nltk/tbl/__pycache__/
venv/Lib/site-packages/nltk/tokenize/__pycache__/
venv/Lib/site-packages/nltk/translate/__pycache__/
venv/Lib/site-packages/notebook-5.6.0.dist-info/
venv/Lib/site-packages/notebook/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/compat/tests/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/_private/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-packages/numpy/tests/__pycache__/
venv/Lib/site-packages/pandas/__pycache__/
venv/Lib/site-packages/pandas/_libs/__pycache__/
venv/Lib/site-packages/pandas/_libs/tslibs/__pycache__/
venv/Lib/site-packages/pandas/api/__pycache__/
venv/Lib/site-packages/pandas/api/extensions/__pycache__/
venv/Lib/site-packages/pandas/api/types/__pycache__/
venv/Lib/site-packages/pandas/compat/__pycache__/
venv/Lib/site-packages/pandas/compat/numpy/__pycache__/
venv/Lib/site-packages/pandas/computation/__pycache__/
venv/Lib/site-packages/pandas/core/__pycache__/
venv/Lib/site-packages/pandas/core/arrays/__pycache__/
venv/Lib/site-packages/pandas/core/computation/__pycache__/
venv/Lib/site-packages/pandas/core/dtypes/__pycache__/
venv/Lib/site-packages/pandas/core/groupby/__pycache__/
venv/Lib/site-packages/pandas/core/indexes/__pycache__/
venv/Lib/site-packages/pandas/core/reshape/__pycache__/
venv/Lib/site-packages/pandas/core/sparse/__pycache__/
venv/Lib/site-packages/pandas/core/tools/__pycache__/
venv/Lib/site-packages/pandas/core/util/__pycache__/
venv/Lib/site-packages/pandas/errors/__pycache__/
venv/Lib/site-packages/pandas/formats/__pycache__/
venv/Lib/site-packages/pandas/io/__pycache__/
venv/Lib/site-packages/pandas/io/clipboard/__pycache__/
venv/Lib/site-packages/pandas/io/formats/__pycache__/
venv/Lib/site-packages/pandas/io/json/__pycache__/
venv/Lib/site-packages/pandas/io/msgpack/__pycache__/
venv/Lib/site-packages/pandas/io/sas/__pycache__/
Would re
move venv/Lib/site-packages/pandas/plotting/__pycache__/
venv/Lib/site-packages/pandas/tests/__pycache__/
venv/Lib/site-packages/pandas/tests/api/__pycache__/
venv/Lib/site-packages/pandas/tests/categorical/__pycache__/
venv/Lib/site-packages/pandas/tests/computation/__pycache__/
venv/Lib/site-packages/pandas/tests/dtypes/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/base/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/category/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/decimal/__pycache__/
venv/Lib/site-packages/pandas/tests/extension/json/__pycache__/
venv/Lib/site-packages/pandas/tests/frame/__pycache__/
venv/Lib/site-packages/pandas/tests/generic/__pycache__/
venv/Lib/site-packages/pandas/tests/groupby/__pycache__/
venv/Lib/site-packages/pandas/tests/groupby/aggregate/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/datetimes/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/period/__pycache__/
venv/Lib/site-packages/pandas/tests/indexes/timedeltas/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/__pycache__/
venv/Lib/site-packages/pandas/tests/indexing/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/internals/__pycache__/
venv/Lib/site-packages/pandas/tests/io/__pycache__/
venv/Lib/site-packages/pandas/tests/io/formats/__pycache__/
venv/Lib/site-packages/pandas/tests/io/json/__pycache__/
venv/Lib/site-packages/pandas/tests/io/msgpack/__pycache__/
venv/Lib/site-packages/pandas/tests/io/parser/__pycache__/
venv/Lib/site-packages/pandas/tests/io/sas/__pycache__/
venv/Lib/site-packages/pandas/tests/plotting/__pycache__/
venv/Lib/site-packages/pandas/tests/reshape/__pycache__/
venv/Lib/site-packages/pandas/tests/reshape/merge/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/interval/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/period/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/timedelta/__pycache__/
venv/Lib/site-packages/pandas/tests/scalar/timestamp/__pycache__/
venv/Lib/site-packages/pandas/tests/series/__pycache__/
venv/Lib/site-packages/pandas/tests/series/indexing/__pycache__/
venv/Lib/site-packages/pandas/tests/sparse/__pycache__/
venv/Lib/site-packages/pandas/tests/sparse/frame/__pycache__/
venv/Lib/site-packages/pandas/tests/sparse/series/__pycache__/
venv/Lib/site-packages/pandas/tests/tools/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/__pycache__/
venv/Lib/site-packages/pandas/tests/tseries/offsets/__pycache__/
venv/Lib/site-packages/pandas/tests/tslibs/__pycache__/
venv/Lib/site-packages/pandas/tests/util/__pycache__/
venv/Lib/site-packages/pandas/tools/__pycache__/
venv/Lib/site-packages/pandas/tseries/__pycache__/
venv/Lib/site-packages/pandas/types/__pycache__/
venv/Lib/site-packages/pandas/util/__pycache__/
venv/Lib/site-packages/pandocfilters-1.4.2-py3.7.egg-info/
venv/Lib/site-packages/pandocfilters.py
venv/Lib/site-packages/parso-0.3.1.dist-info/
venv/Lib/site-packages/parso/
venv/Lib/site-packages/pickleshare-0.7.4.dist-info/
venv/Lib/site-packages/pickleshare.py
venv/Lib/site-packages/prometheus_client-0.3.1-py3.7.egg-info/
Wo
uld remove venv/Lib/site-packages/prometheus_client/
venv/Lib/site-packages/prompt_toolkit-1.0.15.dist-info/
venv/Lib/site-packages/prompt_toolkit/
venv/Lib/site-packages/pygments/
venv/Lib/site-packages/pytz/__pycache__/
venv/Lib/site-packages/pywinpty-0.5.4-py3.7.egg-info/
venv/Lib/site-packages/pyzmq-17.1.2.dist-info/
venv/Lib/site-packages/qtconsole-4.4.0.dist-info/
venv/Lib/site-packages/qtconsole/
venv/Lib/site-packages/requests/__pycache__/
venv/Lib/site-packages/send2trash/
venv/Lib/site-packages/simplegeneric-0.8.1-py3.7.egg-info/
venv/Lib/site-packages/simplegeneric.py
venv/Lib/site-packages/terminado-0.8.1.dist-info/
venv/Lib/site-packages/terminado/
venv/Lib/site-packages/testpath-0.3.1.dist-info/
venv/Lib/site-packages/testpath/
venv/Lib/site-packages/tika/__pycache__/
venv/Lib/site-packages/tornado-5.1.dist-info/
venv/Lib/site-packages/tornado/
venv/Lib/site-packages/traitlets-4.3.2.dist-info/
venv/Lib/site-packages/traitlets/
venv/Lib/site-packages/urllib3/__pycache__/
venv/Lib/site-packages/urllib3/contrib/__pycache__/
venv/Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
venv/Lib/site-packages/urllib3/packages/__pycache__/
venv/Lib/site-packages/urllib3/packages/backports/__pycache__/
venv/Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/urllib3/util/__pycache__/
venv/Lib/site-packages/wcwidth-0.1.7.dist-info/
venv/Lib/site-packages/wcwidth/
venv/Lib/site-packages/webencodings-0.5.1.dist-info/
venv/Lib/site-packages/webencodings/
venv/Lib/site-packages/widgetsnbextension-3.4.0.dist-info/
venv/Lib/site-packages/widgetsnbextension/
venv/Lib/site-packages/winpty/
venv/Lib/site-packages/zmq/
venv/Scripts/__pycache__/
venv/Scripts/iptest.exe
venv/Scripts/iptest3.exe
venv/Scripts/ipython.exe
venv/Scripts/ipython3.exe
venv/Scripts/jsonschema.exe
venv/Scripts/jupyter-bundlerextension.exe
venv/Scripts/jupyter-console.exe
venv/Scripts/jupyter-kernel.exe
venv/Scripts/jupyter-kernelspec.exe
venv/Scripts/jupyter-migrate.exe
venv/Scripts/jupyter-nbconvert.exe
venv/Scripts/jupyter-nbextension.exe
venv/Scripts/jupyter-notebook.exe
venv/Scripts/jupyter-qtconsole.exe
venv/Scripts/jupyter-run.exe
venv/Scripts/jupyter-serverextension.exe
venv/Scripts/jupyter-troubleshoot.exe
venv/Scripts/jupyter-trust.exe
venv/Scripts/jupyter.exe
venv/Scripts/pygmentize.exe
venv/etc/
venv/share/
!/.gitignore
/venv/
